.header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: Roboto, Arial, Helvetica, sans-serif;
    font-weight: 400;
    // font-size: 1.4rem;
    margin-top: 50px;
    padding: 20px 60px 0;
    
    font-size: clamp(1rem, calc($index * 0.5), 1.9rem);


    @container (max-width: 768px) {
        // font-size: calc($index * 0.9);
    }
    @container (max-width: 430px) {
        margin-top: 15px;
        // font-size: calc($index * 1.2);
        padding: 0 30px;
    }

    &__company {
        margin-right: 10px;
        transition: opacity ease-in-out 0.4s;
        @include link;
        white-space: nowrap;
        &:hover {
            // filter:opacity(.5);
            cursor: default;
        }
    }
    
    &__nav {
        // display: flex;
        // flex-direction: row;
        // justify-content: space-between;

    }

    &__nav-phone {
        margin-right: 50px;
        white-space: nowrap;
        @container (max-width: 768px) {

        }
        @container (max-width: 430px) {
         margin-right: 0;
        }
    }

    &__nav-email {
        @container (max-width: 768px) {

        }
        @container (max-width: 430px) {
         display: none;
        }
    }

    &_nav-list{
        display: flex;
        // max-width: 360px;
        // width: 100%;
        // width: 100%;
        // align-self: flex-end;

        
        li > a {
            @include link;
        }
       
        
        
    }


}

