.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: Russo, Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 21px;
    margin-top: 0px;

    &_nav-list{
        display: flex;
        min-width: 360px;
        // width: 100%;
        justify-content: space-between;
        & li:first-of-type {
            margin-right: 50px;
        }
        
    }


}

