@mixin rounded-dark-border {
    border: 1px solid $main-text-clr;
    border-radius: 19px;
}

@mixin link {
    text-decoration: none;
    color: $main-text-clr;
    transition: ease-in-out 0.4s;

    &:hover {
        filter:opacity(.5)
    }

    &:visited {
        color: $main-text-clr;
    }

    &:focus {
        outline: $main-text-clr;
        box-shadow: 0 0 0 2px $main-text-clr;
    }
}

