@mixin rounded-dark-border {
    border: 1px solid $main-text-clr;
    border-radius: 19px;
}

@mixin link($color: $main-text-clr){
    text-decoration: none;
    color: $color;
    transition: ease-in-out 0.4s;

    &:hover {
        filter:opacity(.5)
    }

    &:visited {
        color: $color;
    }

    &:focus {
        outline: $color;
        box-shadow: 0 0 0 2px $color;
    }
}

