//colors:
$main-text-clr: #3C4434;
$lighter-text-clr: #7B8076;
$alternate-text-clr: #F6F5F5;
$light-bg-clr: #F6F5F5;
$dark-bg-clr: #3C4434;
$darken-bg-clr: #303828;
$bright-text-clr: #fff;
$light-darken-bg-clr: #D9D9D9;
$darken-alt-bg-clr: #76767661;
