//colors:
$main-color: #3C4434;
$lighten-color: #7B8076;
$aletrnate-color: #F6F5F5;
$light-bg-color: #F6F5F5;
$dark-bg-color: #3C4434;
$darken-bg-color: #303828;
$bright-color: #fff;
$light-darken-bg-color: #D9D9D9;
$shadowed-bg-color: #76767661;
