body {
    background-color: $dark-bg-clr;
    font-weight: 700;
}

.container {
    font-family: Poiret, Arial, Helvetica, sans-serif;
    background-color: $light-bg-clr;
    color: $main-text-clr;
    margin: 50px auto 0;
    // padding: 20px 60px;
    max-width: 1150px;
    @media (max-width: 1200px) {
        max-width: 960px;
    }

    @media (max-width: 768px) {
        max-width: 100%;
        padding: 0 12px;;
    }
}

a {
    color: $main-text-clr;
    text-decoration: none;
}

a:visited {
    color: $main-text-clr;
    text-decoration: none;

}