@mixin rounded-dark-border {
    border: 1px solid $main-color;
    border-radius: 19px;
}

@mixin link {
    
    &:hover {
        color: $main-color;
    }

    &:visited {
        color: $main-color;
    }

    &:focus {
        outline: $main-color;
        box-shadow: 0 0 0 2px $main-color;
    }
}