.button {
    height: 70px;
    width: 215px;
    border-radius: 25px;
    border-color: $main-text-clr;
    background-color: $light-bg-clr;
    font-family: Poiret, Helvetica, sans-serif;
    font-size: 25px;
}