.button {
    height: 70px;
    width: 215px;
    border-radius: 25px;
    border-color: $main-color;
    background-color: $light-bg-color;
    font-family: Poiret, Helvetica, sans-serif;
    font-size: 25px;

}