.form {
    
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: repeat(4, 1fr);
    place-content: center;
    gap: 10px;
    padding: 0 60px;
    &__title {
        grid-column: 1 / 5;
        grid-row: 1 / 2; 
        text-align: left;
        font-family: Russo, Arial, Helvetica, sans-serif;
        font-weight: 400;
        font-size: 36px;
        letter-spacing: 0.03em;
        color: #3c4434;

    }
    &__fieldset {
        grid-row: 2/-2;
    }
    &__input-label {
        display: none;
    }
    &__input, &__submit-button {
        font-family: Poiret, Arial, Helvetica, sans-serif;
        font-weight: 400;
        font-size: 30px;
        padding-left: 40px;
        letter-spacing: 0.06em;
        background: #D9D9D9;
        border: 2px solid #3C4434;
        border-radius: 40px;
        height: 60px;
        width: 255px;
    }
    &__submit-button {
        text-align: center;
        padding: 0;
        color: #fff;
        background-color: #3C4434;
        grid-row: 2/-2;
    }
}